.container {
  display: flex;
}

.movies {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie {
  flex-basis: 300px;

  border: 1px solid lightgrey;
  border-radius: 6px;
  padding: 6px;
}

.details {
  background-color: purple;
}
